{% extends "base.html" %}

{% block title %}Plantilla Base{% endblock %}

{% block content %}
<script>document.body.className = 'bg-inicio';</script>
<div class="container text-center mb-5">
    <h3 class="mb-4">Hola soy el GOAT LeBron Jamez</h3>
    
    <div class="my-4">
        <img src="{{ url_for('static', filename='imgz/lebron1.png') }}" alt="Imagen del King James" class="img-fluid w-25">
    </div>
    
    <p class="my-4 px-3">Solo para decirles que esta pagina web trata sobre diversos temas, desde maravillas del mundo, actual y tambien en referencia a animales exoticos que son siempre una maravilla de ver, como a su vez, maravillas del pasado, esto haciendo referencia a los vehiculos antiguos</p>
    
    <div class="row justify-content-center my-5">
        <div class="col-md-3 mx-2 mb-3">
            <img src="{{ url_for('static', filename='imgz/exotico1.png') }}" alt="Imagen 1" class="img-fluid w-100">
        </div> 
        <div class="col-md-3 mx-2 mb-3">
            <img src="{{ url_for('static', filename='imgz/maravilla1.png') }}" alt="Imagen 2" class="img-fluid w-100">
        </div>
        <div class="col-md-3 mx-2 mb-3">
            <img src="{{ url_for('static', filename='imgz/vehiculo1.png') }}" alt="Imagen 3" class="img-fluid w-100">
        </div>
    </div>
    
    <p class="my-4 px-3">Espero que les guste la pagina web, y que la disfruten tanto como yo disfruto de papear a fans de Michael Jordan</p>
    
    <div class="my-4">
        <img src="{{ url_for('static', filename='imgz/lebron2.png') }}" alt="Segunda imagen del King" class="img-fluid w-25">
    </div>
</div>
{% endblock %}